@import '~styles/fonts';
@import '~styles/colors';

body {
  height: 100%;
  background-color: $color8;
  font-family: $fontFamily1;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
