$white: #ffffff;
$black: #000000;
$grey: #7f8fa4;
$emeraldGreen: #34aa44;
$strongGreen: #249533;
$green: #39b54a;
$circon: #dfe3e9; 

$color1: $white;
$color2: $black;
$color3: $grey;
$color4: $strongGreen;
$color5: $emeraldGreen;
$color6: $green;
$color7: $circon;
