@import '~styles/colors';

.container {
  position: relative;
  height: 100vh;
  
  .loginContainer {
    background-color: $color1;
    margin: auto;
    min-width: 300px;
    max-width: 350px;
    height: 286px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .image {
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: -50px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  
  .login {
    padding: 30px 30px 20px 30px;
    height: 236px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .titlesText {
      color: $color3;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .newAccountText {
    position: absolute;
    bottom: -36px;
    text-align: center;
    right: 0;
    left: 0;
  }
}

  .forgotPass {
    padding: 0;
  }
}